@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
.cardHeader {
    min-height: 2rem;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: white;
    background-color: #454034;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    padding-top: 0.5rem;
}
